body {
  opacity: .8;
  transition: all 3s ease-in-out;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  transform: rotate(90deg);
}

/* Clock */
.pane-when .clock {
  position: relative;
  margin-top: 50%;
  margin: 0 auto;
  width: 560px;
}

.pane-when .content {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}

.pane-when .clock {
  margin-top: -60px;
}

.pane-when .clock .text {
  position: relative;
  width: 100%;
  font-family: 'Opensans';
  font-weight: normal;
  letter-spacing: 0;
  margin-top: 0.5em;
  display: block;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

.pane-when .clock .block:last-child .digit:after {
  display: none;
}

.pane-when .clock .elem-center {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 100%;
  top: 0;
  bottom: 0;
  margin-top: -100px;
}

.pane-when .clock .elem-center .digit {
  position: relative;
  font-size: 240px;
  letter-spacing: -0.02em;
  line-height: 1;
  font-family: 'Opensans';
  font-weight: 500;
  color: #fff;
  display: block;
  width: auto;
}

.pane-when .clock .elem-center .txt {
  position: absolute;
  right: auto;
  letter-spacing: 0em;
  top: 1.4em;
  text-transform: uppercase;
  font-family: 'Opensans';
  font-weight: bold;
  font-size: 24px;
  width: auto;
}

.pane-when .clock .elem-center .text.top {
  bottom: 124%;
}

.pane-when .clock .elem-center .text.top img {
  height: 65px;
  margin-bottom: 20px;
}

.pane-when .clock .elem-bottom {
  position: relative;
  width: 100%;
  /*	text-transform: uppercase;*/
  font-family: 'Opensans';
  font-weight: bold;
  font-size: 24px;
  color: #fff;
  text-align: center;
}

.pane-when .clock .elem-bottom .thin {
  font-weight: 100;
}

.pane-when .clock .elem-bottom:after,
.pane-when .clock .elem-bottom:before {
  position: absolute;
  content: '';
  border-bottom: 1px solid #fff;
  height: 1px;
  bottom: 17px;
}

.pane-when .clock .elem-bottom:before {
  right: 0;
  left: 75%;
}

.pane-when .clock .elem-bottom:after {
  left: 0;
  right: 75%;
}

.pane-when .clock .elem-bottom .deco:after,
.pane-when .clock .elem-bottom .deco:before {
  position: absolute;
  content: '';
  /*	background: #fff;*/
  border: 1px solid #fff;
  width: 20px;
  height: 120px;
  bottom: 17px;
}

.pane-when .clock .elem-bottom .deco:before {
  left: 0;
  right: auto;
  border-right: none;
  border-bottom: none;
}

.pane-when .clock .elem-bottom .deco:after {
  right: 0;
  left: auto;
  border-left: none;
  border-bottom: none;
}

.pane-when footer {
  padding: 16px 48px;
  margin-top: 32px;
}

.pane-when footer p {
  color: #fff;
  text-align: center;
  font-family: 'Opensans';
}